<h2>Site Admin</h2>
<div bs-tabs>
  <div ng-repeat="tab in adminVm.tabs" title="{{ tab.title }}" name="{{ tab.title }}"  bs-pane>
    <div ng-if="tab.title === 'Galleries'">
      <div ng-include="'galleries/galleries.tpl.html'" ng-controller="GalleriesCtrl as galleriesVm"></div>
    </div>
    <div ng-if="tab.title === 'Pages'">
      PAger
    </div>
    <div ng-if="tab.title === 'Articles'">
      <div ng-include="'articles/articles.tpl.html'" ng-controller="ArticlesCtrl as articlesVm"></div>
    </div>
  </div>
</div>


